main {
    width: 50vw;
    margin: auto;
}





#titulo1 {
    color:rgb(2,2,132);
    background-color: rgb(26,113,235);
}

.texto-titulo1 {
    color: rgb(0,0,0);
    background-color: rgb(255,255,255);
}

#titulo2 {
    color: green;
    background-color: rgb(109,205,19);  
}

.texto-titulo2 {
    color: rgb(255,123,0);
    background-color: rgb(255,255,255);
}

#titulo3 {
    color: salmon;
    background-color: rgb(250,128,114,0.283);
}